<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1> we will be back</h1>

<p> the sit is currently being updated</p>

{{> footer}}

</body>
</html>